<button class="btn btn-default btn-lg">
  <a href=<%='http://jawbone.com/auth/oauth2/auth?client_id=' << @client_id << '&redirect_uri=' << @redirect_uri << '&response_type=code&scope=weight_read'%>> Login to UP <img width=16px height=16px src='/img/jawbone.png'/></a>
</button>
